*{
    margin: 0
    padding: 0;
}
body{
    font-family: lobster !important;
    background: linear-gradient(90deg, #56AB2F, #A8E063);
}
nav{
    background:linear-gradient(90deg,#2193B0,#6DD5ED);
    border-radius: none
}

footer{
    border-radius: none;
    margin-bottom: 0 !important;
}
.vector{
    background-image: url(Vector.png);
}
